<div class="modal fade" id="add-work-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="select-class" class="col-sm-2 control-label">班级</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="select-class">
                                {{#each lessons}}
                                <option>{{lesson_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select-item" class="col-sm-2 control-label">阶段</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="select-item">
                                <option>上午</option>
                                <option>下午</option>
                                <option>晚上</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="start-time" class="col-sm-2 control-label">开始时间</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control datetimepicker" id="start-time" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="end-time" class="col-sm-2 control-label">结束时间</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control datetimepicker" id="end-time" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select-work-type" class="col-sm-2 control-label">工作</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="select-work-type">
                                <option>坐班</option>
                                <option>讲课</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select-lecturer" class="col-sm-2 control-label">老师</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="select-lecturer">
                                {{#each lecturers}}
                                <option>{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->