<div class="panel panel-default wd-editbox" data-role="editbox" hidden>
    <div class="panel-heading">编辑中...<span class="glyphicon glyphicon-remove pull-right wd-btn" data-role="close-button"></span></div>
    <div class="panel-body">
        <select class="form-control" data-role="select-worktype">
            <option value="选择工作">选择工作</option>
            <option value="讲课">讲课</option>
            <option value="坐班">坐班</option>
        </select>
        <select class="form-control" data-role="select-lecturer">
            <option value="选择讲师">选择讲师</option>
            {{#each lecturers}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
</div>