<div class="row button-container">
    <!--<button type="button" class="btn btn-default" id="add-lesson">新建课程</button>-->
    <button type="button" class="btn btn-default">按讲师排列班级</button>
    <button type="button" class="btn btn-default" id="add-work">安排工作</button>
    <button type="button" class="btn btn-default">显示所有讲师</button>
    <button type="button" class="btn btn-default pull-right">保存</button>
</div>
<div class="row lecturer-container">
    {{#each lecturers}}
    <div class="col-md-2 lecturer-block" style="background: {{bgcolor}}">{{name}}</div>
    {{/each}}
</div>
