<div class="row ganttview">
    <div class="col-md-2 ganttview-vtheader" id="ganttview-vtheader">
        {{#each lessons}}
        <div class="row ganttview-vtheader-item">
            <div class="col-md-6 ganttview-vtheader-item-name">{{lesson_name}}</div>
            <div class="col-md-6 ganttview-vtheader-item-series">
                <div class="row">上午</div>
                <div class="row">下午</div>
                <div class="row">晚上</div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="col-md-10 ganttview-slide-container" id="ganttview-slide-container">
        <div class="row ganttview-hzheader" id="calendar"></div>
        <div class="row ganttview-grid">
            {{#each lessons}}
            <div class="row ganttview-grid-row" data-item="{{lesson_name}}-上午">
                {{#each ../calendar}} {{#each days}}
                <div class="ganttview-grid-row-cell editbox" data-today="2015-{{../months}}-{{this}}">
                    <div class="row"></div>
                    <div class="row"></div>
                </div>
                {{/each}} {{/each}}
            </div>
            <div class="row ganttview-grid-row" data-item="{{lesson_name}}-中午">
                {{#each ../calendar}} {{#each days}}
                <div class="ganttview-grid-row-cell editbox" data-today="2015-{{../months}}-{{this}}">
                    <div class="row"></div>
                    <div class="row"></div>
                </div>
                {{/each}} {{/each}}
            </div>
            <div class="row ganttview-grid-row" data-item="{{lesson_name}}-下午">
                {{#each ../calendar}} {{#each days}}
                <div class="ganttview-grid-row-cell editbox" data-today="2015-{{../months}}-{{this}}">
                    <div class="row"></div>
                    <div class="row"></div>
                </div>
                {{/each}} {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</div>